html {
font-family: Arial, sans-serif;
transition: background-color 0.3s ease;
background-color: white;
}


header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: greenyellow;
color: black;
font-weight: bolder;
}

h1 {
margin: 0;
}

button {
padding: 10px 20px;
font-size: 16px;
font-weight: bold;
border: none;
border-radius: 5px;
background-color: black;
color: greenyellow;
cursor: pointer;
margin-bottom: 10px;
}

button:hover {
    background-color: white;
    color: green;
}

.container {
text-align: center;
margin: 10px 0px 0px -9px;
width: 100%;
height: 100%;
}

aside {
width: 200px;
background-color: greenyellow;
color: white;
padding: 20px;
height: 100vh;
}

.options {
display: flex;
flex-direction: column;
}

.button {
display: inline-block;
width: 49.5%;
font-size: 16px;
font-weight: bold;
border: none;
border-radius: 5px;
background-color: #91d629;
color: #333;
cursor: pointer;
text-decoration: none;
font-size: xx-large;
font-weight: bolder;
margin-left: 6px;
padding-top: 22%;
padding-bottom: 22%;
}

.button2 {
display: block;
padding: 15px 20px;
font-size: 16px;
font-weight: bold;
border: none;
border-radius: 5px;
background-color: #95dd28;
color: black;
cursor: pointer;
text-decoration: none;
margin-bottom: 10px;
}

.button2.active {
background-color: green;
color: black;
}

.button2:hover {
background-color: green;
}

.dark-mode .button2{
background-color: #666;
color: greenyellow;
}

.dark-mode .button2:hover{
background-color: #444;
color: rgb(221, 253, 172);
}
    

.dark-mode .button2.active{
background-color: #444;
color: greenyellow;
}


.button:hover:not(.active) {
background-color: green;
}

.dark-mode header {
background-color: #383838;
color: white;
}

.dark-mode button {
background-color: white;
color: green;
}

.dark-mode button:hover {
background-color: black;
color: greenyellow
}

.dark-mode aside {
background-color: #383838;
}

.dark-mode .button {
background-color: #666;
color: #23b423a6;
}

.dark-mode .button.active {
background-color: #333;
color: #8b26778c;
}

.dark-mode .button:hover:not(.active) {
background-color: #444;
}

.dark-mode main {
background-color: black;
}