html {
font-family: Arial, sans-serif;
transition: background-color 0.3s ease;
background-color: white;
}

header {
transition: background-color 0.5s ease;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: greenyellow;
color: black;
font-weight: bolder;
}

h1 {
margin: 0;
}  

button {
padding: 10px 20px;
font-size: 16px;
font-weight: bold;
border: none;
border-radius: 5px;
background-color: black;
color: greenyellow;
cursor: pointer;
margin-bottom: 10px;
}

button:hover {
background-color: white;
color: green;
}

#container {
    display: flex;
    height: 100vh;
  }

aside {
transition: background-color 0.5s ease;
width: 200px;
background-color: greenyellow;
color: white;
padding: 20px;
height: calc(100vh - 150px);
}

main {
transition: background-color 0.5s ease;
flex-grow: 1;
background-color: #82c988cb;
padding: 20px;
}

.options {
display: flex;
flex-direction: column;
}

.button {
transition: background-color 0.3s ease;
display: inline-block;
width: 49.5%;
font-size: 16px;
font-weight: bold;
border: none;
border-radius: 5px;
background-color: #91d629;
color: #333;
cursor: pointer;
text-decoration: none;
font-size: xx-large;
font-weight: bolder;
margin-left: 6px;
padding-top: 22%;
padding-bottom: 22%;
}

.button2 {
transition: background-color 0.3s ease;
display: block;
padding: 15px 20px;
font-size: 16px;
font-weight: bold;
border: none;
border-radius: 5px;
background-color: #95dd28;
color: black;
cursor: pointer;
text-decoration: none;
margin-bottom: 10px;
}

.button2.active {
transition: background-color 0.3s ease;
background-color: green;
color: black;
}

.button2:hover {
background-color: green;
}

.dark-mode .button2{
background-color: #666;
color: greenyellow;
}

.dark-mode .button2:hover{
background-color: #444;
color: rgb(221, 253, 172);
}


.dark-mode .button2.active{
background-color: #444;
color: greenyellow;
}


.button:hover:not(.active) {
background-color: green;
}

.dark-mode header {
background-color: #383838;
color: white;
}

.dark-mode button {
background-color: white;
color: green;
}

.dark-mode button:hover {
background-color: black;
color: greenyellow
}

.dark-mode aside {
background-color: #383838;
}

.dark-mode .button {
background-color: #666;
color: #23b423a6;
}

.dark-mode .button.active {
background-color: #333;
color: #8b26778c;
}

.dark-mode .button:hover:not(.active) {
background-color: #444;
}

.dark-mode main {
background-color: #171717;
color: rgb(120, 153, 125);
}



.clock {
    font-family: "Digital", Arial, sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: green;
    text-align: center;
    margin-top: 20px;
  }
  
  .hora-exacta {
    font-family: "Digital", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: green;
    text-align: center;
    margin-top: -20px;
  }
  

/* Dark mode styles */
.dark-mode .clock {
color: turquoise;
}

.dark-mode .hora-exacta {
color: lightgreen;
}




.digital-clock {
font-size: 48px;
text-align: center;
}

#timer-container {
margin-top: 20px;
text-align: center;
}

#timer-display {
margin-top: 20px;
font-size: 24px;
text-align: center;
}

#sound {
display: none;
}
  